html {
    background-color: #fff;
}
* {
    font-family: 'Pretendard';
    letter-spacing: normal;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}
.pc {
    display: block;
}
.mo {
    display: none;
}
.dis-no {
    display: none;
}
.ir {
    font-size: 0;
}
.sr_only {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.scrollLock {overflow: hidden}
.flex_box {
    display: flex;
}
.blue {
    color: #005eb8;
}
.font_bold {
    font-weight: 500;
}
/* 말줄임
    대신 max-width나 width를 설정해주어야함.
*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* header */
header {
    border-bottom: 1px solid #e0e6eb;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 999;
    top: 0;
}
header h1 {
    padding: 1.9rem 2rem;
    width: 300px;
    border-right: 1px solid #e0e6eb;
    font-size: 2.1rem;
    font-weight: bold;
    align-items: center;
    gap: 1rem;
    letter-spacing: -.042rem;
}
header div {
    padding: 0 3rem;
    gap: 3rem;
}
header div a {
    font-size: 1.8rem;
    line-height: 5.6rem;
    letter-spacing: -.036rem;
    color: #848f9a;
    position: relative;
}
header div a.act,
header div a:hover {
    color: #005eb8;
    font-weight: bold;
    border-bottom: 3px solid #005eb8;
    transition: all 0.1s linear;
}
header .ham_menu {
    display: none;
}
main {
    font-size: 0;
    height: 100vh;
}
section:not(.chat_pdf) {
    padding-top: 6rem;
}

/* 스피너 로딩 */
.loading_box {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
/* 스피너 컨테이너 */
.spinner {
    position: relative;
    width: 16px;
    height: 16px;
}
/* 스피너 내부 선 */
.spinner .line {
    position: absolute;
    width: 1.5px;
    height: 4px;
    background-color: #3498db;
    top: 2px;
    left: 50%;
    transform-origin: 50% 8px;
    transform: translateX(-50%) rotate(0deg);
    animation: spin 1.2s linear infinite;
}
/* 각 선의 회전 각도 */
.spinner .line:nth-child(1) {
    transform: translateX(-50%) rotate(0deg);
    animation-delay: 0s;
}
.spinner .line:nth-child(2) {
    transform: translateX(-50%) rotate(45deg);
    animation-delay: -1.05s;
}
.spinner .line:nth-child(3) {
    transform: translateX(-50%) rotate(90deg);
    animation-delay: -0.9s;
}
.spinner .line:nth-child(4) {
    transform: translateX(-50%) rotate(135deg);
    animation-delay: -0.75s;
}
.spinner .line:nth-child(5) {
    transform: translateX(-50%) rotate(180deg);
    animation-delay: -0.6s;
}
.spinner .line:nth-child(6) {
    transform: translateX(-50%) rotate(225deg);
    animation-delay: -0.45s;
}
.spinner .line:nth-child(7) {
    transform: translateX(-50%) rotate(270deg);
    animation-delay: -0.3s;
}
.spinner .line:nth-child(8) {
    transform: translateX(-50%) rotate(315deg);
    animation-delay: -0.15s;
}
/* 스피너 애니메이션 */
@keyframes spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 팝업 */
.popup_wr.on {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 70%);
    z-index: 9999;
}
.popup_wr .popup_cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 4rem 3rem;
    border-radius: 8px;
}
.popup_wr .popup_cont .cont_header {
    justify-content: space-between;
    margin-bottom: 3rem;
}
.popup_wr .popup_cont .cont_header .tit {
    font-size: 1.8rem;
    color: #00101f;
    font-weight: bold;
}
.popup_wr .popup_cont .cont_header .pop_close {
    margin: -2rem -1rem;
    cursor: pointer;
    height: fit-content;
}
.popup_wr .popup_cont .cont_inner {
    min-height: 300px;
    max-height: 442px;
}

/* 팝업 리스트 */
.pop_wr .project_tb tr {
    cursor: default;
}
.pop_wr .project_tb th,
.pop_wr .project_tb td {
    text-align: left;
}
.pop_wr .project_tb tr p {
    color: #354350;
}
.pop_wr .project_tb .tb_tit,
.pop_wr .project_tb .tb_part {
    padding: 4px 1rem;
}
.pop_wr .project_tb th.tb_stat,
.pop_wr .project_tb tr:not(.act) .tb_stat {
    padding-left: 1rem;
}
.pop_wr .project_tb .tb_part p,
.pop_wr .project_tb .tb_stat p {
    width: 14rem;
}
.pop_wr .project_tb .tb_tit p {
    max-width: 35rem;
}
.pop_wr .project_tb .tb_user p {
    width: 8rem;
}
.pop_wr .project_tb .tb_date p {
    width: 12rem;
}
.pop_wr .project_tb .tb_date p {
    font-size: 1.4rem;
}
.pop_wr .project_tb .tb_btn div {
    width: 11rem;
}
.pop_wr .project_tb .tb_btn .btn_wr {
    justify-content: center;
}
.pop_wr .project_tb .tb_btn .btn_wr .btn {
    border-radius: 4px;
    border: 1px solid #e0e6eb;
    background-color: #fff;
}
.pop_wr .project_tb .tb_btn .btn_wr .btn:hover {
    border-color: #b6c2ce;
    background-color: #f3f5f7;
}
.pop_wr .project_tb .tb_btn .btn_wr .btn.type01 {
    width: 3.2rem;
    height: 3.2rem;
}
.pop_wr .project_tb .sel_box {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 4.4rem;
}
.pop_wr .project_tb .sel_selected {
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.pop_wr .project_tb .sel_options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.pop_wr .project_tb .sel_option {
    padding: 10px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.pop_wr .project_tb .sel_option img {
    display: none;
}
.pop_wr .project_tb .sel_option:hover {
    background-color: #f1f1f1;
}
.pop_wr .project_tb .sel_selected span,
.pop_wr .project_tb .sel_option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8.5px 12px;
    border-radius: 24px;
}
.pop_wr .project_tb .sel_selected span{
    padding: 8.5px 12px 8.5px 0;
}
.pop_wr .project_tb .sel_selected span::before,
.pop_wr .project_tb .sel_option span::before {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.pop_wr .project_tb .sel_selected[data-selected-value="wait"] span,
.pop_wr .project_tb .sel_option[data-value="wait"] span{
    gap: 1rem;
    color: #eb8900;
    border: solid 1px #fd9;
    background-color: #fffcf0;
    padding-left: 12px;
}
.pop_wr .project_tb .sel_selected[data-selected-value="wait"] span::before,
.pop_wr .project_tb .sel_option[data-value="wait"] span::before {
    content: '';
    background-color: #eb8900;
}
.pop_wr .project_tb .sel_selected[data-selected-value="pass"] span,
.pop_wr .project_tb .sel_option[data-value="pass"] span {
    gap: 1rem;
    color: #2f9e44;
    border: solid 1px #adebb9;
    background-color: #f2fcf4;
    padding-left: 12px;
}
.pop_wr .project_tb .sel_selected[data-selected-value="pass"] span::before,
.pop_wr .project_tb .sel_option[data-value="pass"] span::before {
    content: '';
    background-color: #2f9e44;
}
.pop_wr .project_tb .sel_selected[data-selected-value="fail"] span,
.pop_wr .project_tb .sel_option[data-value="fail"] span {
    gap: 1rem;
    color: #f14141;
    border: solid 1px #fcc;
    background-color: #fff5f5;
    padding-left: 12px;
}
.pop_wr .project_tb .sel_selected[data-selected-value="fail"] span::before,
.pop_wr .project_tb .sel_option[data-value="fail"] span::before {
    content: '';
    background-color: #f14141;
}
.pop_wr .project_tb .sel_box.active .sel_options {
    display: block;
    max-height: 13rem;
}
.pop_wr .project_tb tr.act td {
    background-color: #f9fafb;
}
.pop_wr .project_tb tr.act td:not(.tb_user, .tb_date) p,
.pop_wr .project_tb tr.act td .btn_wr:not(.edit_cont),
.pop_wr .project_tb tr td input:not([type="radio"]),
.pop_wr .project_tb tr td .sel_box,
.pop_wr .project_tb tr .tb_btn .edit_cont {
    display: none;
}
.pop_wr .project_tb tr.act .edit_cont {
    display: block;
}
.pop_wr .project_tb tr.act .tb_part,
.pop_wr .project_tb tr.act .tb_tit {
    padding-left: 0;
}
.pop_wr .project_tb tr.act input {
    height: 4.4rem;
    padding: 0 0 0 1rem;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    background-color: #fff;
}
.pop_wr .project_tb tr.act input:focus {
    outline: solid 1px #b8dcff;
    background-color: #f5faff;
}
.pop_wr .project_tb tr.act .tb_part .edit_cont {
    width: calc(92% - 1rem);
}
.pop_wr .project_tb tr.act .tb_tit .edit_cont {
    width: calc(100% - 2rem);
}
.pop_wr .project_tb tr.act .tb_stat {
    padding-right: 1rem;
}
.pop_wr .project_tb tr.act .tb_btn .edit_cont {
    display: flex;
    gap: .6rem;
}
.pop_wr .project_tb tr.act .tb_btn .edit_cont button {
    border: solid 1px #b8dcff;
    background-color: #fff;
}
.pop_wr .project_tb tr.act .tb_btn .edit_cont button:hover {
    border: solid 1px #b8dcff;
    background-color: #ebf5ff;
}
.pop_wr .cont_inner .cont_box.flex_box {
    flex-direction: column;
    gap: 1rem;
}
.pop_wr .cont_inner .cont_box.flex_box + .cont_box {
    margin-top: 2rem;
}
.pop_wr .cont_inner .input-group input {
    width: calc(100% - 1rem);
    height: 4.4rem;
    padding: 0 0 0 1rem;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    background-color: #fff;
}
.pop_wr .cont_inner textarea {
    width: 48rem;
    height: 16rem;
    resize: none;
    padding: 1rem;
    border: solid 1px #e0e6eb;
}
.pop_wr .cont_inner .input-group input:focus,
.pop_wr .cont_inner textarea:focus {
    outline: solid 1px #b8dcff;
    background-color: #f5faff;
}
.pop_wr .cont_inner .tb_tit textarea {
    height: 5.1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.8rem;
}
.pop_wr .cont_inner .radio-group {
    display: flex;
    gap: 10px;
}

.pop_wr .cont_inner .radio-group label {
    position: relative;
    padding: 8px 16px;
    border: solid 1px #e0e6eb;
    background-color: #f9fafb;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pop_wr .cont_inner .radio-group input[type="radio"] {
    display: none;
}

.pop_wr .cont_inner .radio-group input[type="radio"]:checked + label::before {
    content: '';
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
}
.pop_wr .cont_inner .radio-group input[type="radio"]:checked + label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pop_wr .cont_inner .radio-group input[value="PASS"]:checked + label {
    background-color: #f2fcf4;
    color: #2f9e44;
    border-color: #adebb9;
}
.pop_wr .cont_inner .radio-group input[value="PASS"]:checked + label::before {
    background-color: #2f9e44;
}
.pop_wr .cont_inner .radio-group input[value="FAIL"]:checked + label {
    background-color: #fff5f5;
    color: #f14141;
    border-color: #fcc;
}
.pop_wr .cont_inner .radio-group input[value="FAIL"]:checked + label::before {
    background-color: #f14141;
}
.pop_wr .cont_inner .radio-group input[value="REVIEW"]:checked + label {
    background-color: #fffcf0;
    color: #eb8900;
    border-color: #fd9;
}
.pop_wr .cont_inner .radio-group input[value="REVIEW"]:checked + label::before {
    background-color: #eb8900;
}
.pop_wr .cont_inner .button-wrap {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.pop_wr .cont_inner .button-wrap button {
    padding: 9px 20px;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    color: #354350;
}
.pop_wr .cont_inner .button-wrap button:hover {
    border-color: #b6c2ce;
    background-color: #f3f5f7;
}
.pop_wr .citation_popup {
    width: 50rem;
}
.pop_wr .citation_popup .cont_inner {
    min-height: unset;
    height: unset;
    padding-bottom: 3rem;
}
.pop_wr .citation_popup .cont_box .flex_box + .flex_box {
    margin-top: 1rem;
}
.pop_wr .citation_popup .cont_box .tit {
    color: #848f9a;
    line-height: 1.75;
    min-width: 9rem;
}
.pop_wr .citation_popup .cont_box .txt {
    color: #354350;
    line-height: 1.75;
}

/* 에러페이지 */
.error_main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.error_main p {
    font-size: 2.4rem;
    font-weight: bold;
}

@media screen and (max-width:1500px) {
    header h1 {
        width: auto;
        border-right: none;
        padding-right: .4rem;
        padding-left: 3rem;
    }
    .pc {
        display: none;
    }
    .mo {
        display: block;
    }
}
@media screen and (max-width:960px) {
    .popup_wr .popup_cont .cont_inner {
        max-width: 85rem;
    }
}
@media screen and (max-width:768px) {
    header h1 {
        padding-left: 1.5rem;
        font-size: 1.6rem;
    }
    header div a {
        font-size: 1.5rem;
    }
    .popup_wr .popup_cont .cont_inner {
        max-width: 46rem;
    }
    .pop_wr .cont_inner textarea {
        width: 40rem;
        height: 14rem;
    }
}