.header h1 {
    border-right: none;
}
.project_list {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px 4rem;
    margin-top: 4rem;
}

.project_list .t_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.project_list .t_box .btn_wr {
    gap: 1rem;
}
.search_wr {
    padding: .7rem 2rem .8rem;
    width: 48rem;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    background-color: #fff;
}
.search_wr.act {
    border: solid 1px #005eb8;
}
.search_wr input {
    width: calc(100% - 38px);
    border: none;
    color: #00101f;
}
.search_wr input::placeholder {
    color: #848f9a;
}
.search_wr input:focus {
    outline: none;
}

.excel_btn {
    padding: .8rem 2.5rem;
    border-radius: 8px;
    border: solid 1px #b6c2ce;
    background-color: #fff;
    cursor: pointer;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 16rem;
}
.excel_btn::before {
    content: '';
    width: 14rem;
    height: 3.6rem;
    margin: 8px 17.7px 0 17.7px;
    padding: 2px 2.3px 18px 2.3px;
    opacity: 0.15;
    border-radius: 2rem;
    filter: blur(20px);
    background-color: #848f9a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.excel_btn .on,
.excel_btn:hover .off {
    display: none;
}
.excel_btn:hover .on,
.excel_btn .off {
    display: block;
}
.excel_btn:hover {
    color: #005eb8;
    border: solid 1px #b8dcff;
    background-color: #ebf5ff;

}

.project_tb {
    width: 100%;
    border-collapse: collapse;
}

.project_tb thead {
    background-color: #f9f9f9;
}

.project_tb th, .project_tb td {
    text-align: center;
    border-bottom: 1px solid #f3f5f7;
    color: #354350;
}
.project_tb th {
    height: 48px;
    border-top: 1px solid #e0e6eb;
    border-bottom: 1px solid #848f9a;
    vertical-align: middle;
    color: #848f9a;
}
.project_tb th .btn_wr {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    margin-bottom: 0.3rem;
}
.project_tb th .btn_wr .t_box {
    margin-bottom: .4rem;
}
.project_tb th .btn_wr .t_box button .on,
.project_tb th .btn_wr .b_box button .off {
    transform: rotate(180deg);
}
.project_tb th .btn_wr div button .off,
.project_tb th .btn_wr div button:hover .on {
    display: block;
}
.project_tb th .btn_wr div button:hover .off,
.project_tb th .btn_wr div button .on {
    display: none;
}
.project_tb tbody tr {
    cursor: pointer;
}
.project_tb td {
    padding: 4px 0;
    height: 60px;
    vertical-align: middle;
}
.project_tb th.ta_l,
.project_tb .ta_l {
    text-align: left;
}
.project_tb tbody tr td .td_button_box.td_tit {
    display: inline-block;
    width: 690px;
    line-height: 48px;
    padding-right: 40px;
}
.project_tb tbody tr:hover td .td_button_box.td_tit {
    line-height: 49px;
    vertical-align: middle;
}
.project_tb tbody tr:hover td .td_button_box {
    border-top: 1px solid #e0e6eb;
    border-left: 1px solid #e0e6eb;
    border-bottom: 1px solid #e0e6eb;
    border-radius: 8px 0 0 8px;
    font-weight: bold;
    background-color: #f9fafb;
}
.project_tb tbody tr:hover td .td_button_box:not(.td_tit) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_tb tbody tr:hover td .td_button_box.ta_l {
    justify-content: flex-start;
}
.project_tb tbody tr:hover td .td_button_box.type02 {
    border-radius: 0;
    border-left: none;
}
.project_tb tbody tr:hover td .td_button_box.type03 {
    border-radius: 0 8px 8px 0;
    border-left: none;
    border-right: 1px solid #e0e6eb;
}

.status {
    display: inline-flex;
    padding: .8rem 1.2rem;
    border-radius: 2.4rem;
    font-size: 1.5rem;
    color: #848f9a;
    border: solid 1px #e0e6eb;
    background-color: #f9fafb;
    gap: 1rem;
}
.status:not(.default)::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    margin-top: 5px;
}
.status.fail {
    color: #f14141;
    border: solid 1px #fcc;
    background-color: #fff5f5;
}
.status.fail::before {
    background-color: #f14141;
}
.status.complete {
    color: #2f9e44;
    border: solid 1px #adebb9;
    background-color: #f2fcf4;
}
.status.complete::before {
    background-color: #2f9e44;
}
.status.in_progress {
    color: #0085ff;
    border: solid 1px #99ceff;
    background-color: #ebf5ff;
}
.status.in_progress::before {
    background-color: #0085ff;
}
.status.wait {
    color: #eb8900;
    border: solid 1px #fd9;
    background-color: #fffcf0;
}
.status.wait::before {
    background-color: #eb8900;
}
.status.request {
    color: #6933ff;
    border: solid 1px #daccff;
    background-color: #f8f5ff;
}
.status.request::before {
    background-color: #6933ff;
}

.pagination_wr {
    align-items: center;
    justify-content: center;
    gap: .4rem;
    height: 3.6rem;
    margin-top: 3rem;
}

.pagination_wr li {
    text-decoration: none;
    color: #333;
}
.pagination_wr li a {
    width: 3.6rem;
    height: 2.8rem;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}
.pagination_wr li:hover a,
.pagination_wr li.page_current a {
    font-weight: bold;
    color: #005eb8;
}
.pagination_wr .step_btn:hover .off,
.pagination_wr .step_btn .on {
    display: none;
}
.pagination_wr .step_btn:hover .on,
.pagination_wr .step_btn .off {
    display: block;
}
.pagination_wr .step_btn:first-child {
    margin-right: 2rem;
}
.pagination_wr .step_btn:first-child .on,
.pagination_wr .step_btn:last-child .off {
    transform: rotate(180deg);
}
.pagination_wr .step_btn:last-child {
    margin-left: 2rem;
}
.pagination_wr .more_step_btn {
    display: none;
}
.pagination_wr .more_step_btn.act {
    display: block;
}

/* 분석결과조회 상세 */
.list_detail .tb_btn .btn_wr {
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6px;
}
.list_detail tr.act .tb_btn .btn_wr {
    align-items: flex-start;
    padding-top: 9.5px;
}
.list_detail .btn {
    border-radius: 4px;
    border: 1px solid #e0e6eb;
    background-color: #fff;
}
.list_detail .btn:hover {
    border-color: #b6c2ce;
    background-color: #f3f5f7;
}
.list_detail .btn.type01 {
    width: 3.2rem;
    height: 3.2rem;
}
.list_detail .bd_r {
    border-right: 1px solid #f3f5f7;
}
.list_detail .project_list {
    padding: 0;
}
.list_detail .project_list h2.tit {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
    letter-spacing: -.048rem;
}
.list_detail .project_list .table_wr {
    height: 700px;
}
.list_detail .project_tb thead tr th.ta_l:not(.tb_date, .tb_user) {
    padding-left: 2rem;
}
.list_detail .project_tb tbody tr {
    cursor: s-resize;
}
.list_detail .project_tb td {
    vertical-align: top;
}
.list_detail .project_tb td.tb_article {
    vertical-align: middle;
}
.list_detail .project_tb td.tb_ai .emoji_box {
    margin-right: 6px;
}
.list_detail .project_tb td.tb_ai .emoji_box img:not(.on) {
    display: none;
}
.list_detail .project_tb td.tb_ai .btn_wr {
    display: none;
}
.list_detail .project_tb td.td_status {
    padding-top: 1.4rem;
}
.list_detail .project_tb td:not(.td_status) p {
    padding-top: 1.8rem;
    color: #354350;
}
.list_detail .project_tb tbody tr td p.tb_txt {
    max-width: 240px;
    padding: 1.8rem 2rem 0;
    text-align: left;
}
.list_detail .project_tb tbody tr td p.tb_txt.type02 {
    max-width: 220px;
}
.list_detail .project_tb tbody tr td p.tb_txt.type03 {
    max-width: 140px;
}
.list_detail .project_tb tbody tr td .tb_user {
    max-width: 70px;
}
.list_detail .project_tb tbody tr td .tb_date {
    font-size: 1.4rem;
    padding-right: 0;
}
.list_detail .project_tb tbody tr.act {
    background-color: #f9fafb;
    height: 170px;
}
.list_detail .project_tb tbody tr.act td {
    box-shadow: inset 0 .5px 0 0 #E0E6EB;
    border-bottom: 1px solid #E0E6EB;
}
.list_detail .project_tb tr.act td.tb_ai .btn_wr {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    padding: 1rem 2rem 0 0;
}
.list_detail .project_tb tr.act td.tb_ai .btn_wr .btn {
    align-items: center;
    justify-content: center;
    border: 1px solid #b8dcff;
    background: #fff;
}
.list_detail .project_tb tr.act td.tb_ai .btn_wr .btn:hover {
    background-color: #ebf5ff;
}
.list_detail .project_tb tbody tr:hover td.tb_article button,
.list_detail .project_tb tbody tr.act td.tb_article button {
    font-weight: bold;
    cursor: s-resize;
}
.list_detail .project_tb tbody tr.no_opinion td.tb_manager {
    vertical-align: middle;
}
.list_detail .project_tb tbody tr.no_opinion td.tb_manager button {
    padding: 9px 12px;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    color: #354350;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    background-color: #fff;
}
.list_detail .project_tb tbody tr.no_opinion td.tb_manager button:hover {
    border-color: #b6c2ce;
    background-color: #f3f5f7;
}
.list_detail .project_tb tbody tr.act td p{
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    overflow-y: auto;
    height: calc(100% - 16px);
}
.list_detail .project_tb tbody tr.act td.tb_ai p{
    height: calc(100% - 57px);
}
.list_detail .project_tb tbody tr.act td.bd_r {
    border-right: 1px solid #E0E6EB;
}
.list_detail .project_tb tbody tr.act td.tb_ai p {
    padding: 1.8rem 2rem;
}
.list_detail .project_tb tbody tr.act td p::-webkit-scrollbar-thumb{
    border: .4rem solid #f9fafb;
}
.list_detail .project_tb tbody tr:hover td {
    background-color: #f9fafb;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998; /* 폼보다 낮고 다른 컨텐츠보다는 높아야 함 */
    display: none; /* 초기에는 숨김 */
}

.overlay.visible {
    display: block; /* 폼 활성화 시 표시 */
}
.project-form form {
    height: calc(100vh - 17.5rem);
    padding: 0 3rem;
}
.project-form {
    position: fixed;
    top: 0;
    right: -100%; /* 처음에 화면 밖에 위치 */
    width: 540px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
}
.project-form.visible {
    right: 0; /* 슬라이드 인되도록 위치 변경 */
    z-index: 9999;
}
.project-form .form-header {
    border-bottom: 1px solid #e0e6eb;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.project-form .form-header h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #005eb8;
}
.project-form .radio-group {
    margin-top: 5rem;
    gap: 1.6rem;
}
.project-form .radio-group .radio_cont {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.custom-radio {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #848f9a;
    background-color: #fff;
    border-radius: 4px; /* 네모난 모양 */
    cursor: pointer;
    position: relative;
    margin: 0;
}
.custom-radio + label {
    color: #848f9a;
    cursor: pointer;
}

.custom-radio:checked {
    background-color: #fff; /* 내부 파란색 */
    border-color: #005eb8;
}
.custom-radio:checked + label {
    color: #005eb8;
}
.custom-radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #005eb8;
    transform: translate(-50%, -50%);
}
.project-form .search_wr {
    width: 100%;
    padding: .4rem .4rem .4rem 2rem;
    margin-top: 1.6rem;
}
.project-form .search_wr input {
    width: calc(100% - 140px);
}
.project-form .search_wr button {
    width: 140px;
    padding: 1.5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #005eb8;
    color: #fff;
}
.project-form .search_wr button:hover {
    background-color: #004485;
}
.project-form .input_wr {
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e0e6eb66;
}
.project-form .input_wr .info_txt {
    margin-bottom: 2rem;
    color: #848f9a;
}
.project-form .input_wr.act .info_txt {
    color: #f14141;
}
.project-form .input_wr .cont,
.project-form .cont {
    flex-direction: column;
    gap: 1rem;
}
.project-form .input_wr .cont input {
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    background-color: #f3f5f7;
    padding: 1.4rem 2rem;
}
.project-form .input_wr .cont + .cont {
    margin-top: 2rem;
}
.project-form .input_wr .cont input:focus {
    outline: none;
}
.project-form .input_wr .cont input::placeholder {
    color: #b6c2ce;
}
.project-form .input_wr + .cont {
    margin-top: 3rem;
}
.project-form .cont input {
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    padding: 1.4rem 2rem;
}
.project-form .cont input:focus {
    outline: none;
} 
.file_wr {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.file-upload {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 4.8rem;
}

.file-upload input[type="file"] {
    display: none;
}

.upload-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    background-color: #fff;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px 0;
}

.file-list li {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 4px;
    border: solid 1px #e0e6eb;
    gap: .8rem;
}

.file-name {
    flex-grow: 1;
}

.remove-file {
    background: url(../img/icon_close.png) 0 0 no-repeat;
    color: #fff;
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    background-size: contain;
}
.project-form .btn_wr {
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.project-form .btn_wr button:disabled {
    cursor: not-allowed;
}
.project-form.act .btn_wr button .loading_box .spinner,
.project-form .btn_wr button .loading_box img {
    display: none;
}
.project-form.act .btn_wr button .loading_box img {
    display: block;
}
.project-form .btn_wr button {
    align-items: center;
    justify-content: center;
}
.project-form .btn_wr button {
    padding: 2rem 0;
}
.project-form .btn_wr .btn {
    border-radius: 8px;
    border: solid 1px #0078eb;
    background-color: #fff;
    gap: .8rem;
    width: 29%;
    font-weight: 500;
}
.project-form .btn_wr .btn:not(:disabled):hover {
    background-color: #ebf5ff;
}
.project-form .btn_wr .btn.type02 {
    width: 70%;
    background-color: #0078eb;
    color: #fff;
    font-weight: bold;
}
.project-form .btn_wr .btn:not(:disabled).type02:hover {
    background-color: #005eb8;
}
.popup_cont.type02 {
    padding: 2rem 3rem;
}
.popup_cont.type02 .pop_cont .cont_header {
    justify-content: flex-end;
    margin-bottom: 0;
}
.popup_cont.type02 .pop_cont .cont_header .pop_close {
    margin: 0;
}
.popup_cont.type02 .pop_cont .radio-group {
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}
.popup_cont.type02 .pop_cont .radio-group .radio_cont {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.popup_cont.type02 .pop_cont .search_wr {
    padding: .4rem .4rem .4rem 2rem;
    margin-bottom: 3rem;
}
.popup_cont.type02 .pop_cont .search_wr input {
    width: calc(100% - 140px);
}
.popup_cont.type02 .pop_cont .search_wr button {
    width: 140px;
    padding: 1.5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #005eb8;
    color: #fff;
}
.popup_cont.type02 .pop_cont .search_wr button:hover {
    background-color: #004485;
}
.popup_cont.type02 .pop_cont .cont_inner {
    max-height: 36rem;
}
.popup_cont.type02 .pop_cont .project_tb td {
    height: 4.7rem;
}
.popup_cont.type02 .pop_cont .project_tb .tb_chk {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_cont.type02 .pop_cont .b_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.popup_cont.type02 .pop_cont .b_box .txt_box span {
    font-size: 16px;
    font-weight: 500;
    color: #848f9a;
}
.popup_cont.type02 .pop_cont .b_box .txt_box span[class^="project-"] {
    color: #000;
    margin-left: 1.2rem;
    position: relative;
}
.popup_cont.type02 .pop_cont .b_box .txt_box span[class^="project-"] + span[class^="project-"]::before {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    position: absolute;
    left: -.8rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e0e6eb;
}
.popup_cont.type02 .pop_cont .b_box .txt_box span + .project-code {
    margin-left: 1rem;
}
.popup_cont.type02 .pop_cont .b_box button {
    width: 20rem;
    padding: 1.85rem 0;
    border-radius: 8px;
    background-color: #0078eb;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.popup_cont.type02 .pop_cont .b_box button:hover {
    background-color: #005eb8;
}

/* 추가 css */
.btn_box .coment_btn {
    width: 3.2rem;
    justify-content: flex-end;
    transition: width .3s linear;
    padding: 0;
}
.btn_box .coment_btn.act {
    width: calc(100% - 9.6rem);
    padding: 0 1rem;
}
.btn_box .coment_btn .icon_chat,
.btn_box .coment_btn.act input,
.btn_box .coment_btn.act .icon_send {
    display: block;
}
.btn_box .coment_btn.act .icon_chat,
.btn_box .coment_btn input,
.btn_box .coment_btn .icon_send {
    display: none;
}
.btn_box .coment_btn input {
    background: #fff;
    border: none;
    font-size: 1.4rem;
    color: #354350;
    width: 100%;
    padding: 0 .7rem;
}
.btn_box .coment_btn input::placeholder {
    color: #b6c2ce;
}
.btn_box .coment_btn input:focus{
    outline: none;
}
.btn_box button:hover, 
.btn_box .coment_btn:hover input {
    background-color: #ebf5ff;
}
.list_detail .project_tb tr.act td.tb_ai .btn_box button.emoji_btn.act {
    border: solid 1px #b8dcff;
    background-color: #e0f0ff;
}
@media screen and (max-width:1400px) {
    .list_detail .project_list {
        width: 1200px;
        padding: 0 2rem;
    }
    .list_detail .project_tb tbody tr td p.tb_txt {
        max-width: 210px;
    }
}
@media screen and (max-width:899px) {
    .project_list .t_box {
        margin-bottom: 3.5rem;
    }
    .list_detail .project_list .table_wr {
        height: 687px;
    }
    
}